.feed-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black; /* Background color for the navigation bar */
   
  }
  
  .feed-logo {
    flex-grow: 1;
    text-align: center;
  }
  
  .feed-logo img {
    max-width: 400px; /* Adjust the max width of the logo as needed */
    margin-left: 100px;
    
  }
  
  .logout-btn {
    margin-left: 10px; /* Add some space between the search bar and logout button */
  }
  
  .search-form {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    margin-right: 10px; /* Add some space between the input field and the search button */
  }

  .user{
    font-size: 50px;
  }
  