#root {
  margin: 0 ;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background-color: black;
}

.nav{
  margin-right: 300px;
}

.home-buttons {
  display: flex;
  flex-direction: row; 
  justify-content: flex-start; 
  align-items: center; 
  height: 130vh;
  padding-left: 250px;
  gap: 40px;
}

.home-buttons {
  display: flex;
  flex-direction: column; /* Changed from 'row' to 'column' */
  justify-content: center; /* Center the items along the main axis */
  align-items: center; /* Center the items along the cross axis */
  height: 100vh; /* Adjusted height for visibility */
}

button {
  margin: 10px 0; /* Added margin for spacing between buttons */
}

.div-buttons{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.home-buttons img {
  width: 600px; 
  height: auto; 
}

.home-buttons logo {
  width: 100px;
  height: auto;
}




